.under-line::after,.under-line::before{
    content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid gray;
  
}

.under-line::after{
    margin: 0 -55% 0 .5em;
}

.under-line{
    width: 100%;
  margin: 30px auto;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  
  color: black;
}